@model WorkRegistration.Models.UserModel
@using WorkRegistration.Styles
@{

    bool agreement;
    Layout = null;
}

<!DOCTYPE html>

<html>
<head runat="server">
    <meta name="viewport" content="width=device-width" />
    <title>Password</title>
    <style>
        .list-counter-circle > li:first-child::before {
            background-color: blue;
            color: white;
        }

        .list-counter-circle > li:nth-child(2)::before {
            background-color: blue;
            color: white;
        }

        .list-counter-circle > li:nth-child(3)::before {
            background-color: blue;
            color: white;
        }

        .list-counter-circle > li:nth-child(4)::before {
            background-color: blue;
            color: white;
            font-family: 'Glyphicons Halflings';
            content: "\270E";
        }
        .text-box {
            width:300px;
        }
    </style>
    <link rel="stylesheet" href='@Url.Content("~/Styles/" + "Styles.css")'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    @using (Ajax.BeginForm("Password", new AjaxOptions { UpdateTargetId = "results" }))
    {
        <div class="block3">
            <h3>New User Registration</h3>
            <h4>Step 4:Password</h4>
        </div>
        <div class="block4">
            <ol class="list-counter-circle">
                <li><a href="/Register/ContactInfo">Contact Info</a></li>
                <li><a href="/Register/Areas">Areas</a></li>
                <li><a href="/Register/Address">Address</a></li>
                <li>Password</li>
                <li>Completed</li>
            </ol>
            <div style="padding-top:260px">
                <a href="/Register/ContactInfo">Back to Login</a>
            </div>
        </div>
        <div style="position: absolute; background: gray; left: 1150px; top: 200px; width: 200px; height: 150px;">
            <div style="text-align: left; padding:30px;line-height:0.75">
                <span style="font-size:14px">Instructions:<img src="@Url.Content("~/Images/image.bmp")" style="width:13px; height:13px;"></span>
                <p></p>
                <span style="font-size:12px">Password must include:</span><br />
                <span style="font-size:12px">-at least 8 characters</span><br />
                <span style="font-size:12px">-an UPPER case letter</span><br />
                <span style="font-size:12px">-a lower case letter</span><br />
                <span style="font-size:12px">-a number</span><br />
            </div>
        </div>
        <div class="block1" style=" width:500px;margin-left: 80px;">
            <p style="text-align:left;">
                <div class="editor-field" style="text-align: right;">
                    <span style="color:blue;">*</span><span style=" padding-right:30px;">Password:</span>
                    @Html.EditorFor(model => model.Contact.Password)
                    @if (Model.Contact.Password == null && Request.HttpMethod == "POST")
                    {
                        <div class='holder' style="padding-left:100px">
                            <img src="@Url.Content("~/Images/image.png")" style="width:15px; height:15px;">
                            <div class='block'>
                                @Html.MyValidationMessageFor(model => model.Contact.Password)
                            </div>
                        </div>
                    }
                </div>
            </p>
            <p style="text-align:left;">
                <div class="editor-field" style="text-align: right;">
                    <span style="color:blue;">*</span><span style=" padding-right:30px;">Confirm Password:</span>
                    @Html.EditorFor(model => model.Contact.ConfirmPassword)
                    @if ((Model.Contact.ConfirmPassword != Model.Contact.Password || Model.Contact.ConfirmPassword == null) && Request.HttpMethod == "POST")
                    {
                        <div class='holder' style="padding-left:100px">
                            <img src="@Url.Content("~/Images/image.png")" style="width:15px; height:15px;">
                            <div class='block'>
                                @Html.MyValidationMessageFor(model => model.Contact.ConfirmPassword)
                            </div>
                        </div>
                    }
                </div>
            </p>
            <script>
                function refresh_image() {
                    document.images.item(1).src = "@Url.Action("Captcha", "Register")";
                }
            </script>
            <img style="padding-left:190px" name="captcha" src='@Url.Action("Captcha", "Register")'/>
            <a style="padding-left:190px" href="javascript:refresh_image()">Show another code</a>
            <div style="padding-left:190px" class="editor-field">
                @Html.EditorFor(model => model.Contact.Captcha)
                <span style="font-size:12px">PUT IN THE ANSWER TO THE MATH EQUATION</span>
                @Html.ValidationMessageFor(model => model.Contact.Captcha)
                <br />
                <span>@Html.CheckBox("Agreement") I have read and accept the terms of use</span>
                @if (@ViewBag.Message == "false" && Request.HttpMethod == "POST")
                {
                    <img src="@Url.Content("~/Images/image.png")" style="width:15px; height:15px;">
                }
            </div>
        </div>
    
        <div class="block2">
            <div style="padding-top:530px;padding-left:250px">
                <span style="text-align:right;"><input type="submit" class="btn" name="BACK" value="BACK" /></span>
                <span style="text-align:right;"><input type="submit" class="btn btn-info" name="NEXT" value="NEXT" /></span>
            </div>
        </div>
    }
</body>
</html>

